@import '../../../styles/variables.scss';

:host {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: $header-height;
    
    box-sizing: border-box;
    background: white;
    color: black;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10); 
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 3%;
    // transition: .2s;
    z-index: 50;

    .nav-container {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;

        .brand {
            display: flex;
            flex: 0 0 auto;
            height: 82.895px;
            width: 225px;
            .logo {
                height: 100%;
                width: 100%;
            }
        }

        .mid-container {
            display: flex;
            flex: 1 1 0px;
            justify-content: space-around;
            align-items: center;
            
            div {
                cursor: pointer;
                flex: 1 1 auto;
                display: flex;
                height: 22px;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
                white-space: nowrap;
          }
        }

        .link-container {
            flex: 0 1 0px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .nav-item {
                display: flex;
                justify-content: center;
                align-items: center; 
                cursor: pointer;
                height: 48px;
                width: 148px;
                // padding: 8px 20px;
                font-size: 13px;
                font-weight: 400;
                line-height: 39px 325%;
                letter-spacing: 2px;
                transition: .4s;
                
                &.out-line {
                    border: 2px solid #555;
                    
                    &:hover {
                        background: #456494;
                        color: white;
                        border: 2px solid #456494;
                    }
                }

                &.solid {
                    border: 2px solid #395998;
                    margin-left: 20px;
                    background: var(--progressive-blue, #395998); 
                    color: white;

                    &:hover {
                        border: 2px solid #7391CA;
                        background: var(--progressive-blue-hover, #7391CA);
                    }
                }
            }

            .dot {
                width: 7px;
                height: 7px;
                border-radius: 100%;
                margin: 0 10px;
                background: #ffffff;
            }
        }
    }
    // @media (max-width: 1030px) {
    //     padding: 15px 3%;

    //     .nav-container {
    //         gap: 20px;
    //     }
    // }
}