@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes zIndexChange {
    0% {
        opacity: 1;
        z-index: -1;
    }
    99% {
        opacity: 1;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}

.zindex-change {
    animation: zIndexChange 1s forwards;
}

:host {
    display: block;
    .slide-show-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: 1;
            opacity: 0;
        }
    
        .slide-content {
            z-index: 2;
            position: absolute;
            width: 80%;
            height: 60%;
            text-align: center;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: column;
            bottom: 7%;
        }
    }
}


