<!-- Section One: Slide Show -->
<app-slideshow class="section-one">
    <div class="heading">
        <h1>Reveal Your Vitality</h1>

        <p>Personalized Biomarker Analysis for Total Well-being</p>
    </div>

    <img src="../../../assets/bar.png" class="bar">

    <div class="feature-list">
        <div class="feature">
            <img src="../../../assets/test_solutions.png">
            <span>TESTING & SOLUTIONS</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/peptide.png">
            <span>PEPTIDE THERAPY</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/weightloss.png">
            <span>MEDICAL WEIGHT LOSS</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/regen.png">
            <span>REGENERATIVE THERAPY</span>
        </div>
    </div>
</app-slideshow>

<div class="section-two">
   <div class="welcome" [ngClass]="{hidden1: isHidden1, show1: !isHidden1}" #animateDiv1>
        <p>Welcome to<br>Progressive Wellness</p>
   </div>
   
   <div class="info" [ngClass]="{hidden2: isHidden2, show2: !isHidden2}" #animateDiv2>
        <p>
            Lorem ipsum dolor sit amet consectetur. Ut sit in eu integer rhoncus iaculis varius sit. Tortor pellentesque nulla aliquam vel facilisis ornare tortor. Lacus nunc erat libero rhoncus tristique. Maecenas vestibulum leo accumsan etiam dignissim.
        </p>
   </div>
</div>

<div class="section-three">
    <div class="service">
        <img src="">
        <div>
            <h4>CONSIDERATIONS</h4>
        </div>
    </div>
    <div class="service">
        <img src="">
        <div>
            <h4>PEPTIDE THERAPY</h4>
        </div>
    </div>
    <div class="service">
        <img src="">
        <div>
            <h4>MEDICAL<br>WEIGHT LOSS</h4>
        </div>
    </div>
    <div class="service">
        <img src="">
        <div>
            <h4>REGENERATIVE</h4>
        </div>
    </div>
</div>

