<!-- Section One: Slide Show -->
<app-slideshow class="section-one">
    <div class="heading">
        <h1>Reveal Your Vitality</h1>

        <p>Personalized Biomarker Analysis for Total Well-being</p>
    </div>

    <img src="../../../assets/bar.png" class="bar">

    <div class="feature-list">
        <div class="feature">
            <img src="../../../assets/test_solutions.png">
            <span>TESTING & SOLUTIONS</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/peptide.png">
            <span>PEPTIDE THERAPY</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/weightloss.png">
            <span>MEDICAL WEIGHT LOSS</span>
        </div>
        
        <div class="feature">
            <img src="../../../assets/regen.png">
            <span>REGENERATIVE THERAPY</span>
        </div>
    </div>
</app-slideshow>

<div class="section-two">
    
</div>

